#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
}

.container {
  padding: 5px 20px 20px 20px;
  margin: 5px;
}

.add-form {
  background-color: rgb(53, 79, 0);
}

.add-form button {
  width: 80px;
  background-color: rgb(0, 125, 19);
  border-color: rgba(0, 69, 15, 0.659);
  border-radius: 20px;
  height: 35px;
  margin-top: 10px;
}

.search-bar {
  background-color: rgb(0, 0, 79);
}

.product-list {
  background-color: rgb(41, 0, 35);
}

.product-card {
  text-align: start;
  background-color: rgb(85, 0, 85);
  padding: 5px 20px 5px 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 14px;
}

.product-card h3 {
  width: 150px;
}

.product-card p {
  width: 40px;
}

.product-card button {
  width: 80px;
  background-color: rgb(125, 100, 0);
  border-color: rgba(69, 59, 0, 0.659);
  border-radius: 20px;
  height: 35px;
}
